cbbuild/**
msvcbuild/**
Allegro5/**
SantaHack2016/**
TINS2016/**
Eagle5.depend
Eagle5.layout
Allegro5_backend.depend
Allegro5_backend.layout
Libtest.depend
Libtest.layout
Eagle5Linux.depend
Eagle5Linux.layout
Allegro5_backend_Linux.depend
Allegro5_backend_Linux.layout
LibtestLinux.depend
LibtestLinux.layout
